@font-face {
  font-family: 'Abeezee';
  src: local("Abeezee"), url("./Fonts/ABeeZee/ABeeZee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Abeezee', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
 }
 .menu{
    display: flex;
    align-items: center;
    gap: 40px;
 }
.logo {
  display: flex;
  align-items: center;
}
 .logo>img {
  height: 40px;
  width: 40px;
 }
 .nav-menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-self: flex-start;
  padding: 0;
 }
 .nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
 }
 .nav-buttons {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding-right: 20px;
 }

 .nav-buttons .fa-list {
    display: none;
 }

.banner-principal>img {
  width: 100%;
  height: auto;
 }
 .banner-text {
  position: absolute;
  top: 30%;
  left: 5%;
  
  color: white;
  text-align: center;
 }
 .banner-text h1 {
  font-size: 48px;
  margin: 0;
 }
 .banner-text p {
  font-size: 24px;
 }
 .galeria-coches {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-around;
  margin: 40px ;
 }
 .card {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
 }
 
 .galeria-coches .card{
    height: 575px;
 }
 .galeria-coches .card > img {
  width: 500px;
  height: auto;
 }
 .card .extra-info {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
 }
 .card .extra-info ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-around;
  width: 150px;
 }
.card .extra-info li {
  list-style: none;
  width: 25px;
  height: 25px;
  border: 2px solid #f0f0f0;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.card .card-title {
  font-family: 'Abeezee', sans-serif;
  display: flex;
  flex-direction: column;
    align-items: start;
    width: 100%;
}

.card-title h2 {
    font-size: 30px;
}

.card-title p {
    font-size: 20px;
    margin: 0;
}

 .btn-info {
  padding: 12px 22px;
  background-color: #FFF;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
}
.btn-info:hover {
  background-color: #7ba3ce;
 }

.info-color .red {
  background-color: #A10000;
}   
.info-color .blue {
  background-color: #0010A1;
}
.info-color .black {
  background-color: black;
}   

.info-color .yellow {
  background-color: #E2C324;
}
.info-color .grey {
  background-color: grey;
}

.info-stores{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 40px;
}
.info-stores .store-locations h2{
    font-size: 96px;
    max-width: 60%;
    text-wrap: wrap;
    margin-bottom: 25px;
}
.info-stores .store-locations p{
    font-size: 24px;
    max-width: 600px;
}
.discover-store {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  text-align: left;
  color: white;
  margin-top: 40px;
  width: 100%;
}
.discover-store img {
  width: 100%;
  max-height: 790px;
}

.discover-store .banner-text {
  background-color: #a2a2a27c;
  padding: 27px 35px;
  border-radius: 15px;
  text-align: left;
}
.banner-text h4 {
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  max-width: 360px;
  padding-right: 120px;
  padding-bottom: 25px;
  margin: 0;
}

.galeryExtras {
  padding: 20px 40px;
}
.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  overflow-x: scroll;
  scrollbar-width: thin;
  padding-bottom: 25px;
}

.galeryExtras .card{
    width: 540px;
    height: 450px;
    align-items: start;
    padding: 40px;
}
.galeryExtras .card > img {
    width: 100%;
    height: 320px;
    align-self: center;
    object-fit: cover;        
    object-position: 80% center;
    
}
.galeryExtras .card h2 {
    margin: 0;
}
#Banner-RedTentation{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    text-align: left;
    color: white;
    margin-top: 40px;
    width: 100%;
}
.container{
    display: flex;
    width: 100%;
}
.container img{
    width: 100%;
    height: auto;
}
#Banner-RedTentation .container div{
    width: 33%;
}
#Banner-RedTentation .banner-text {
    bottom: 10%;
    text-align: left;
    top: unset;
}
#Banner-RedTentation .banner-text h4{
    line-height: 50px;
    letter-spacing: 0%;
    margin: 0;
}
#Banner-RedTentation .banner-text p{
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    width: 50%;
}

#wheelProgram {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: left;
    color: white;
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
}
#wheelProgram div{
 width: 40%;
 color: black;
}
#wheelProgram h4 {
    font-size: 50px;
}
#wheelProgram .wheel-text{
    padding: 40px;
    width: 60%;
}
#wheelProgram-Mobile {
    display: none;
}
#footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 0px 0px 100px;
  width: 100%;   
}

 .footer-lists{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
 }

 .footer-lists ul {
  list-style-type: none;
  display: flex;
  gap: 7px;
  justify-content: center;
  padding: 0;
  flex-direction: column;
  font-size: 14px;
 }

 .footer-lists .list a{
    color: rgba(255, 255, 255, 0.61);
    text-decoration: none;
 }
 .footer-lists .list a:hover{
    color: lightblue;
 }

 .footer-lists .list h3{
    margin-bottom: 35px;
    font-size: 20px;
 }

 .footer-contact {
    background-color: #404243;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 80px;
    padding: 10px 0px;
 }
 .footer-contact p {
    font-size: 16px;
    font-weight: 400;
    padding: 0px 40px;
    margin: 30px;
 }

 .footer-contact .btn-info {
    margin: auto 0px;
 }
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  margin: 30px auto 20px auto;
  border: 1px solid white;
  border-radius: 40px;
  overflow: hidden;
}

.subscribe input {
  flex: 1;
  padding: 13px 17px 13px 25px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.subscribe input::placeholder {
  color: white;
  text-align: center;
}

.subscribe button {
  background: #fff;
  color: #000;
  border: none;
  padding: 15px 30px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 40px;
  
}

.subscribe button:hover {
  background: #ddd;
}

.private-policy{
    margin-top: 10px;
}
.private-policy input[type="checkbox"] {
  accent-color: #fff;
  margin-right: 8px;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  margin-top: 2px;
}
.private-policy a {
    text-decoration: underline;
}
.social-media{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}
.social-media i{
    color: white;
}

.container-footer h4 {
    font-size: 20px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {

  .galeryExtras {
    grid-template-columns: repeat(3, 80%);
    gap: 15px;
    padding: 20px;
    scroll-padding: 20px;
  }

  .galeryExtras .card {
    align-items: center;
    padding: 10px 5px;
  }

  .galeryExtras .card img {
    height: 250px;
    object-position: center center;
    margin: 12px;
  }
}

@media (max-width: 768px) {
  
    .menu .nav-menu {
        display: none;
    }
    .nav-buttons {
        margin: 0;
        gap: 40px;
        padding-right: 0px;
    }
    .nav-buttons .fa-list {
        display: block;
    }
    .banner-text h1 {
        font-size: 21px;
        font-weight: 500;
    }
    .banner-principal .banner-text {
        top: 19%;
        left: 15px;
        text-align: left;
    }
    .banner-principal .banner-text p {
        font-size: 12px;
        margin: 0px;
    }
    .banner-principal img {
        width: 100%;
        object-fit: cover;
    }
    .galeria-coches {
        grid-template-columns: 1fr;
        margin: 5px;
    }
    .galeria-coches .card {
        height: 335px;
        padding: 10px;
    }
    .galeria-coches .card > img {
        width: 370px;
        height: 180px;
        object-fit: cover;
        padding-top: 20px;
        object-position: center 50%;
    }
    .galeria-coches .extra-info .info-color {
        display: none;
    }
    .galeria-coches .card .card-title{
        align-items: center;
        
    }
    .galeria-coches .card .card-title h2{
        margin: 10px;
        font-size: 28px;
    }
    .galeria-coches .extra-info {
        align-items: center;
        justify-content: center;
    }
    #hybrid-GLC img {
        width: 320px;
        object-position: 80% 10%;
    }
    .info-stores {
        padding: 10px 30px;
    }
    .info-stores .store-locations{
        text-align: center;
    }
    .info-stores .store-locations h2{
        font-size: 37px;
        font-weight: 500;
        max-width: 100%;
    }
    .discover-store .banner-text{
        top: 12%;
        left: 20px;
        right: 20px;
        text-align: center;
    }
   .banner-text h4 {
        font-size: 32px;
        padding-right: 0px;
        max-width: 100%;
        text-align: center;
    }
    .discover-store img {
        min-height: 300px;
    } 
    #Banner-RedTentation{
        margin-top: 5px;
    }
    #Banner-RedTentation .container {
        flex-direction: column;
    }
    #Banner-RedTentation .container div {
        width: 100%;
    }
    #Banner-RedTentation .banner-text {
        position: relative;
        color: black;
        left: 0;
        background-color: #eeeeee;
        padding: 10px 0px;
    }
    #Banner-RedTentation .banner-text h4{
        padding-bottom: 5px;
        font-size: 24px;
    }
    #Banner-RedTentation .banner-text p{
        width: auto;
        padding: 0px 30px;
    }
    #wheelProgram {
        display: none;
    }
    #wheelProgram-Mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }
    #wheelProgram-Mobile .wheel-text {
        text-align: left;
    }
    #wheelProgram-Mobile .wheel-text h4 {
        font-size: 28px;
        font-weight: 500;
        text-align: center ;
    }
    #wheelProgram-Mobile img {
        width: 100%;
    }
    .footer-contact{
        padding: 35px 0px;
        margin-bottom: 25px;
    }

    .container-footer {
        padding: 0px 25px;
    }

    .footer-lists{
        flex-direction: column;
    }
    #footer {
        padding-bottom: 50px;
    }

    .galeryExtras {
        padding: 10px 35px;
    }
    .galeryExtras .card {
        width: 300px;
        height: auto;
        align-items: center;
        padding: 20px 10px;
    }
    .galeryExtras .card img {
        height: 220px;
        object-fit: cover;
        padding: 10px 0px;
    }
    .galeryExtras .card h2 {
         font-size: 28px;
        font-weight: 600;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .banner-text {
    top: 25%;
  }
  .galeria-coches .card > img {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .banner-text {
    top: 28%;
  }
  .banner-text h1{
    font-size: 40px;
  }
  .galeria-coches .card > img {
    width: 350px;
    object-fit: cover;
    object-position: center 50%;
  }
}